<style scoped>
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
#app {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
canvas {
  width: 100%;
  height: 100%;
}
.stats {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}
</style>

<template>
  <div id="app" @touchstart="handleTouch"
                @touchmove="handleTouch"
                @touchend="handleTouch"
                @touchcancel="handleTouch">
    <div class="stats" v-if="move">
      {{ move.x.toFixed(1) }}, {{ move.y.toFixed(1) }}, {{ move.z.toFixed(1) }}
    </div>
  </div>
</template>

<script>
import * as THREE from "three";

export default {
  name: 'app',
  data () {
    return {
      origin: null,
      start: null,
      move: null
    }
  },
  mounted() {
    let scene = new THREE.Scene();
    let camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
    camera.position.z = 50;

    let renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setSize( window.innerWidth, window.innerHeight );
    this.$el.appendChild( renderer.domElement );

    let dirLight = new THREE.DirectionalLight(0xffffff, 0.95);
    dirLight.position.set(-3, 3, 7);
    dirLight.position.normalize();
    scene.add(dirLight);

    let pointLight = new THREE.PointLight(0xFFFFFF, 5, 50);
    pointLight.position.set(10, 20, -10);
    scene.add(pointLight);

    let ambientLight = new THREE.AmbientLight(0xFFFFFF);
    scene.add(ambientLight);

    let hemostat = new THREE.Mesh(
      new THREE.TorusKnotBufferGeometry(10, 3, 100, 16),
      new THREE.MeshPhysicalMaterial({color: 0x00ff00})
    );
    scene.add(hemostat);

    this.scene = scene;
    this.camera = camera;
    this.object = hemostat;
    this.origin = hemostat.quaternion.clone();
    this.renderer = renderer;
    this.render();
  },
  destroyed() {
    this.$el.removeChild(this.renderer.domElement);
  },
  methods: {
    render() {
      requestAnimationFrame( this.render.bind(this) );

      if (this.move) {
        let move = this.move.clone().multiplyScalar(1 / (window.innerWidth / 2));
        let rotation = new THREE.Quaternion();
        rotation.setFromEuler(new THREE.Euler(-move.y, -move.x, move.z));
        rotation = rotation.clone().multiply(this.origin.clone());
        this.object.quaternion.copy(rotation);
      }

      this.renderer.render( this.scene, this.camera );
    },
    handleTouch(e) {
      let touch = null;
      if (e.touches && e.touches.length > 0) {
        touch = e.touches[0];
        touch = new THREE.Vector3(
          touch.pageX,
          touch.pageY
        );
      }

      if (touch) {
        if (e.type == "touchstart") {
          this.start = touch;
        } else if (e.type == "touchmove") {
          this.move = this.start.clone().sub(touch);
        } else {
          console.log(e);
        }
      }

      if (e.type == "touchend") {
        this.applyRotation();
      }
    },
    applyRotation() {
      this.move = null;
      this.start = null;
      this.origin = this.object.quaternion.clone();
      this.object.quaternion.copy(this.origin);
    },
  }
}
</script>